<div class="card mt-5">
    <div class="card-body">

        <div class="card-title">
            <h3>Cursos:</h3>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Materia</th>
                    <th scope="col">Dificultad</th>
                    <th scope="col">Requiere</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let curso of cursos" >
                    <th scope="row"> {{ curso.materia }} </th>
                    <td> {{ curso.dificultad }} </td>
                    <td> {{ curso.requiere }} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

